compte.jade
//- compte.jade
doctype html
html
   head
      title Raccoin - Compte
      include ./includes/_head_default.jade
   body
      include ./includes/_menu.jade
      .preview-compte
         img(src='http://www.placehold.it/128x128', alt='Img Compte')
         .nom
             p
                | Alice
             p
                | Durand
          .info
             p
                | Ville : Bikini Bottom
             p
                | Code postal : 54000
             p
                | Pays : France
             p
                | Tél : 03 12 34 56 78
             p
                | Email : blanc
      .liste-lien
         ul
            li 
               a(href="liste.html") Mes annonces
            li 
               a(href="favoris.html") Mes recherches sauvegardées
            li
               a(href="edition_compte.html") Edition du compte
            li.logout
               a(href="#") Déconnexion

compte.html
<!DOCTYPE html>
<html>
  <head>
    <title>Raccoin - Compte</title>
    <link href="css/crossbow.css" rel="stylesheet" type="text/css">
    <link href="css/app.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="js/min/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/min/app-min.js"></script>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="index.html">Accueil</a></li>
        <li><a href="vendre.html">Vendre</a></li>
        <li><a href="favoris.html">Favoris</a></li>
        <li><a href="compte.html">Compte</a></li>
      </ul>
    </nav>
    <div class="preview-compte"><img src="http://www.placehold.it/128x128" alt="Img Compte">
      <div class="nom">
        <p>Alice</p>
        <p>Durand</p>
      </div>
      <div class="info">
        <p>Ville : Bikini Bottom</p>
        <p>Code postal : 54000</p>
        <p>Pays : France</p>
        <p>Tél : 03 12 34 56 78</p>
        <p>Email : blanc</p>
      </div>
    </div>
    <div class="liste-lien">
      <ul>
        <li> <a href="liste.html">Mes annonces</a></li>
        <li> <a href="favoris.html">Mes recherches sauvegardées</a></li>
        <li><a href="edition_compte.html">Edition du compte</a></li>
        <li class="logout"><a href="#">Déconnexion</a></li>
      </ul>
    </div>
  </body>
</html>
