index.jade
//- index.jade
doctype html
html
   head
      title Raccoin
      include ./includes/_head_default.jade
   body
      include ./includes/_menu.jade
      include ./includes/_recherche.jade
      div.liste-categories
         div.categorie
            h1 Multimédia
            div.sous-categorie
               a(href='liste.html')
                  img(src='http://www.placehold.it/250x250', alt='Img Categorie')
                  h4 Informatique
            div.sous-categorie
               a(href='liste.html')
                  img(src='http://www.placehold.it/250x250', alt='Img Categorie')
                  h4 Image et son
            div.sous-categorie
               a(href='liste.html')
                  img(src='http://www.placehold.it/250x250', alt='Img Categorie')
                  h4 Téléphonie
            div.sous-categorie
               a(href='liste.html')
                  img(src='http://www.placehold.it/250x250', alt='Img Categorie')
                  h4 Jeux vidéo
         div.categorie
            h1 Maison
            div.sous-categorie
               a(href='liste.html')
                  img(src='http://www.placehold.it/250x250', alt='Img Categorie')
                  h4 Jardin
            div.sous-categorie
               a(href='liste.html')
                  img(src='http://www.placehold.it/250x250', alt='Img Categorie')
                  h4 Décoration
            div.sous-categorie
               a(href='liste.html')
                  img(src='http://www.placehold.it/250x250', alt='Img Categorie')
                  h4 Art de la table
            div.sous-categorie
               a(href='liste.html')
                  img(src='http://www.placehold.it/250x250', alt='Img Categorie')
                  h4 Linge de maison
         div.categorie
            h1 Culture
            div.sous-categorie
               a(href='liste.html')
                  img(src='http://www.placehold.it/250x250', alt='Img Categorie')
                  h4 Livres
            div.sous-categorie
               a(href='liste.html')
                  img(src='http://www.placehold.it/250x250', alt='Img Categorie')
                  h4 Films
            div.sous-categorie
               a(href='liste.html')
                  img(src='http://www.placehold.it/250x250', alt='Img Categorie')
                  h4 Musique
            div.sous-categorie
               a(href='liste.html')
                  img(src='http://www.placehold.it/250x250', alt='Img Categorie')
                  h4 Art

index.html
<!DOCTYPE html>
<html>
  <head>
    <title>Raccoin</title>
    <link href="css/crossbow.css" rel="stylesheet" type="text/css">
    <link href="css/app.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="js/min/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/min/app-min.js"></script>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="index.html">Accueil</a></li>
        <li><a href="vendre.html">Vendre</a></li>
        <li><a href="favoris.html">Favoris</a></li>
        <li><a href="compte.html">Compte</a></li>
      </ul>
    </nav>
    <div class="search-menu">
      <form action="liste.html" method="post"> 
        <input type="text" placeholder="Recherche" name="recherche" id="searchinput">
        <select name="categorie">
          <option value="default" selected="selected">Catégorie</option>
          <option value="1">Catégorie 1</option>
          <option value="2">Catégorie 2</option>
          <option value="3">Catégorie 3</option>
          <option value="4">Catégorie 4</option>
        </select><a id="more-search" href="#" title="Recherche avancée"></a>
        <input type="submit" class="sendsearch">
        <div class="advanced-search">
          <select name="region" id="region">
            <option value="selected">Région</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
          <input type="checkbox" title="Géolocalisation" id="geoloc">
          <p id="label_rayon">Rayon de recherche :
            <input type="number" placeholder="Rayon de recherche" step="10" min="0" id="rayon">Km
          </p>
          <p class="prix">Prix minimum :
            <input type="number" placeholder="Prix minimum" step="50" min="0">€
          </p>
          <p class="prix">Prix maximum :
            <input type="number" placeholder="Prix maximum" step="50" min="0">€
          </p>
        </div>
      </form>
    </div>
    <div class="liste-categories">
      <div class="categorie">
        <h1>Multimédia</h1>
        <div class="sous-categorie"><a href="liste.html"><img src="http://www.placehold.it/250x250" alt="Img Categorie">
            <h4>Informatique</h4></a></div>
        <div class="sous-categorie"><a href="liste.html"><img src="http://www.placehold.it/250x250" alt="Img Categorie">
            <h4>Image et son</h4></a></div>
        <div class="sous-categorie"><a href="liste.html"><img src="http://www.placehold.it/250x250" alt="Img Categorie">
            <h4>Téléphonie</h4></a></div>
        <div class="sous-categorie"><a href="liste.html"><img src="http://www.placehold.it/250x250" alt="Img Categorie">
            <h4>Jeux vidéo</h4></a></div>
      </div>
      <div class="categorie">
        <h1>Maison</h1>
        <div class="sous-categorie"><a href="liste.html"><img src="http://www.placehold.it/250x250" alt="Img Categorie">
            <h4>Jardin</h4></a></div>
        <div class="sous-categorie"><a href="liste.html"><img src="http://www.placehold.it/250x250" alt="Img Categorie">
            <h4>Décoration</h4></a></div>
        <div class="sous-categorie"><a href="liste.html"><img src="http://www.placehold.it/250x250" alt="Img Categorie">
            <h4>Art de la table</h4></a></div>
        <div class="sous-categorie"><a href="liste.html"><img src="http://www.placehold.it/250x250" alt="Img Categorie">
            <h4>Linge de maison</h4></a></div>
      </div>
      <div class="categorie">
        <h1>Culture</h1>
        <div class="sous-categorie"><a href="liste.html"><img src="http://www.placehold.it/250x250" alt="Img Categorie">
            <h4>Livres</h4></a></div>
        <div class="sous-categorie"><a href="liste.html"><img src="http://www.placehold.it/250x250" alt="Img Categorie">
            <h4>Films</h4></a></div>
        <div class="sous-categorie"><a href="liste.html"><img src="http://www.placehold.it/250x250" alt="Img Categorie">
            <h4>Musique</h4></a></div>
        <div class="sous-categorie"><a href="liste.html"><img src="http://www.placehold.it/250x250" alt="Img Categorie">
            <h4>Art</h4></a></div>
      </div>
    </div>
  </body>
</html>
