Liste.html
<!DOCTYPE html>
<html>
  <head>
    <title>Raccoin - Liste</title>
    <link href="css/crossbow.css" rel="stylesheet" type="text/css">
    <link href="css/app.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="js/min/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/min/app-min.js"></script>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="index.html">Accueil</a></li>
        <li><a href="vendre.html">Vendre</a></li>
        <li><a href="favoris.html">Favoris</a></li>
        <li><a href="compte.html">Compte</a></li>
      </ul>
    </nav>
    <div class="search-menu">
      <form action="liste.html" method="post"> 
        <input type="text" placeholder="Recherche" name="recherche" id="searchinput">
        <select name="categorie">
          <option value="default" selected="selected">Catégorie</option>
          <option value="1">Catégorie 1</option>
          <option value="2">Catégorie 2</option>
          <option value="3">Catégorie 3</option>
          <option value="4">Catégorie 4</option>
        </select><a id="more-search" href="#" title="Recherche avancée"></a>
        <input type="submit" class="sendsearch">
        <div class="advanced-search">
          <select name="region" id="region">
            <option value="selected">Région</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
          <input type="checkbox" title="Géolocalisation" id="geoloc">
          <p id="label_rayon">Rayon de recherche :
            <input type="number" placeholder="Rayon de recherche" step="10" min="0" id="rayon">Km
          </p>
          <p class="prix">Prix minimum :
            <input type="number" placeholder="Prix minimum" step="50" min="0">€
          </p>
          <p class="prix">Prix maximum :
            <input type="number" placeholder="Prix maximum" step="50" min="0">€
          </p>
        </div>
      </form>
    </div>
    <div class="Liste-annonce">
      <div class="annonce">
        <div class="imgholder"><img src="http://www.placehold.it/64x64" alt="Img Annonce"></div>
        <div class="contenu">
          <h2>Titre annonce</h2>
          <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat modi molestiae ratione saepe? Aperiam beatae delectus.</p>
          <p class="prix"><strong>100€</strong></p>
          <div class="action">
            <div alt="Ajouter aux favoris" title="Ajouter aux favoris" class="like"></div><a href="detail.html" class="more btn btn-small">Plus</a>
          </div>
        </div>
      </div>
      <div class="annonce">
        <div class="imgholder"><img src="http://www.placehold.it/64x64" alt="Img Annonce"></div>
        <div class="contenu">
          <h2>Titre annonce</h2>
          <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat modi molestiae ratione saepe? Aperiam beatae delectus.</p>
          <p class="prix"><strong>100€</strong></p>
          <div class="action">
            <div alt="Ajouter aux favoris" title="Ajouter aux favoris" class="like"></div><a href="detail.html" class="more btn btn-small">Plus</a>
          </div>
        </div>
      </div>
      <div class="annonce">
        <div class="imgholder"><img src="http://www.placehold.it/64x64" alt="Img Annonce"></div>
        <div class="contenu">
          <h2>Titre annonce</h2>
          <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat modi molestiae ratione saepe? Aperiam beatae delectus.</p>
          <p class="prix"><strong>100€</strong></p>
          <div class="action">
            <div alt="Ajouter aux favoris" title="Ajouter aux favoris" class="like"></div><a href="detail.html" class="more btn btn-small">Plus</a>
          </div>
        </div>
      </div>
      <div class="annonce">
        <div class="imgholder"><img src="http://www.placehold.it/64x64" alt="Img Annonce"></div>
        <div class="contenu">
          <h2>Titre annonce</h2>
          <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat modi molestiae ratione saepe? Aperiam beatae delectus.</p>
          <p class="prix"><strong>100€</strong></p>
          <div class="action">
            <div alt="Ajouter aux favoris" title="Ajouter aux favoris" class="like"></div><a href="detail.html" class="more btn btn-small">Plus</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

liste.jade
//- index.jade
doctype html
html
   head
      title Raccoin - Liste
      include ./includes/_head_default.jade
   body
      include ./includes/_menu.jade
      include ./includes/_recherche.jade
      div.Liste-annonce
         div.annonce
            .imgholder
               img(src='http://www.placehold.it/64x64', alt='Img Annonce')
            div.contenu
               h2 Titre annonce
               p.desc
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat modi molestiae ratione saepe? Aperiam beatae delectus.
               p.prix
                  strong 100€
               div.action
                  div.like(alt="Ajouter aux favoris", title="Ajouter aux favoris")
                  a(href='detail.html').more.btn.btn-small Plus
         div.annonce
            .imgholder
               img(src='http://www.placehold.it/64x64', alt='Img Annonce')
            div.contenu
               h2 Titre annonce
               p.desc
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat modi molestiae ratione saepe? Aperiam beatae delectus.
               p.prix
                  strong 100€
               div.action
                  div.like(alt="Ajouter aux favoris", title="Ajouter aux favoris")
                  a(href='detail.html').more.btn.btn-small Plus
         div.annonce
            .imgholder
               img(src='http://www.placehold.it/64x64', alt='Img Annonce')
            div.contenu
               h2 Titre annonce
               p.desc
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat modi molestiae ratione saepe? Aperiam beatae delectus.
               p.prix
                  strong 100€
               div.action
                  div.like(alt="Ajouter aux favoris", title="Ajouter aux favoris")
                  a(href='detail.html').more.btn.btn-small Plus
         div.annonce
            .imgholder
               img(src='http://www.placehold.it/64x64', alt='Img Annonce')
            div.contenu
               h2 Titre annonce
               p.desc
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat modi molestiae ratione saepe? Aperiam beatae delectus.
               p.prix
                  strong 100€
               div.action
                  div.like(alt="Ajouter aux favoris", title="Ajouter aux favoris")
                  a(href='detail.html').more.btn.btn-small Plus
